{% extends "base.html" %} {% block content %}

  
  <!-- As a heading -->
  <nav class="navbar bg-dark navbar-dark">
    <div class="container-fluid ">
      <h1 class="navbar-brand mb-0 h1 m-auto">TODO</h1>
    </div>
  </nav>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <form action="" method="post" class="m-3 p-2 shadow text-center">
        {% csrf_token %}
        
        <div class="form-group my-2">
          <input
            type="text"
            class="form-control"
            name="task"
            placeholder="Task"
          />
        </div>
        <div class="form-group my-2">
          <input
            type="text"
            class="form-control"
            name="priority"
            placeholder="Priority"
          />
        </div>
        <div class="form-group my-2">
          <input
            type="date"
            class="form-control"
            name="date"
            placeholder="Date"
          />
        </div>
        <input type="submit" class="btn btn-success" />
      </form>
    </div>

    <div class="col-lg-6">
        <h2>Task to be Completed</h2>
      {% for i in task %}

      <div class="shadow m-2 p-3">
        <h2>{{i.name}}</h2>
        <h3>{{i.priority}}</h3>
        <h3>{{i.date}}</h3>
        <div class="ms-auto"><a href="{% url 'delete' i.id %}" class="btn btn-danger">Done</a></div>
        <div class="ms-auto"><a href="{% url 'update' i.id %}" class="btn btn-success">Update</a></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
